		.logo{
			width:10%;
			height:auto;
			margin-right:2%}
		.name{
			 font-family: "Sofia", sans-serif;
			 text-shadow: 2px 2px #ff0000;
		}
		.body{
			background-image: linear-gradient(powderblue,indigo);
			}
		#pic{
			width: 20%;
			height: auto;
		}
		

		.g{
			font-family: "Audiowide", sans-serif;
			font-size:200%;
			text-shadow: 2px 2px  #00ff00

		}
		#g1{
			font-family: "Audiowide", sans-serif;
			font-size:200%;
			color: #cc0099;
			text-shadow: 2px 2px #ace600


		}
		
		#lang{
			font-family: 'Alatsi';
			font-size:150%;
			font-weight:bold;
			text-shadow: 1px 1px  #00ff00
		}
		
		#text{
			font-family: "Trirong", serif;
			font-size:100%
		}